In [35]:
import pandas as pd

In [36]:
vine_df = pd.read_csv("vine_pdAdmin.csv")

In [37]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N

In [38]:
len(vine_df)

3105520

In [39]:
up_20_df = vine_df[vine_df["total_votes"] >= 20]
up_20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
16,R1AABFZH0J0C0C,3.0,17.0,35.0,N,N
17,R3SJYLG07EHNE9,2.0,16.0,34.0,N,N
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N

In [40]:
helpful_df = up_20_df[up_20_df["helpful_votes"]/up_20_df["total_votes"]*100.0 >= 50.0]
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N

In [41]:
helpful_df.groupby(["vine"]).count()

      review_id  star_rating  helpful_votes  total_votes  verified_purchase
vine
N        403807       403807         403807       403807             403807

In [42]:
paid_df = helpful_df[helpful_df["vine"] == "Y"]
paid_df.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [43]:
paid_rev = len(paid_df)
paid_rev

0

In [44]:
unpaid_df = helpful_df[helpful_df["vine"] == "N"]
unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N

In [45]:
unpaid_rev = len(unpaid_df)
unpaid_rev

403807

In [46]:
unpaid_df.groupby(["star_rating"]).count()["review_id"]

star_rating
1.0     42547
2.0     26086
3.0     31387
4.0     60898
5.0    242889
Name: review_id, dtype: int64

In [47]:
unpaid_df.groupby(["star_rating"]).count()["review_id"][5]/len(vine_df)*100

7.8212022463226765